<header>

    <div class="container">
        <a href="/">
            <div class="logo">
                <h1>Ecommerce</h1>
                <h2>COMPRA E VENDA</h2>
            </div>
        </a>

       
    
    <nav class="primary">
        <ul>
            <li>
                <a href="/ads/create">
                    <i class="material-icons">add</i>
                    Novo Anúncio
                </a>
            </li>
                {% if session.userId %}
                {% endif %}
            </li>
        </ul>
    </nav>
    
    </div>


</header>